---
- name: Find the latest JDK version ({{ item.version }})
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      source ~/.sdkman/bin/sdkman-init.sh
      sdk list java | grep -o "{{ item.version }}.[^ ]*-tem" | head -n 1
    executable: /bin/bash
  register: sdkman_java_version
  changed_when: false

- name: Install JDK ({{ item.version }})
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      source ~/.sdkman/bin/sdkman-init.sh
      echo "y" | sdk install java {{ sdkman_java_version.stdout }}
    executable: /bin/bash
  register: sdkman_java_install
  changed_when: "'is already installed' not in sdkman_java_install.stdout"
  failed_when: "sdkman_java_install.rc != 0 and 'is already installed' not in sdkman_java_install.stdout"

- name: Get the default JDK version ({{ item.version }})
  ansible.builtin.shell:
    cmd: |
      source ~/.sdkman/bin/sdkman-init.sh
      sdk current java
    executable: /bin/bash
  register: sdkman_default_java_version
  when: item.default | default(false)
  changed_when: false

- name: Set the default JDK version ({{ item.version }})
  ansible.builtin.shell:
    cmd: |
      source ~/.sdkman/bin/sdkman-init.sh
      sdk default java {{ sdkman_java_version.stdout }}
    executable: /bin/bash
  when: item.default | default(false)
  changed_when: "sdkman_java_version.stdout not in sdkman_default_java_version.stdout"
