---
- name: Install Node ({{ item.version }})
  ansible.builtin.shell:
    cmd: source ~/.nvm/nvm.sh && nvm install {{ item.version }}
    executable: /bin/bash
  register: nvm_node_install
  changed_when: "'is already installed' not in nvm_node_install.stderr"
  failed_when: "nvm_node_install.rc != 0 and 'is already installed' not in nvm_node_install.stderr"

- name: Get the default Node version ({{ item.version }})
  ansible.builtin.command: cat ~/.nvm/alias/default
  register: nvm_default_node_version
  changed_when: false

- name: Set the default Node version ({{ item.version }})
  ansible.builtin.shell:
    cmd: source ~/.nvm/nvm.sh && nvm alias default {{ item.version }}
    executable: /bin/bash
  when: item.default | default(false)
  changed_when: "nvm_default_node_version.rc != 0 or item.version | string not in nvm_default_node_version.stdout"
